.main {
  background-color: #d2d0d0;
  padding: 0;
  height: 100vh;
}

.innerContainer {
  position: relative;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 17px 2px rgba(119, 119, 119, 0.5);
  -moz-box-shadow: 0px 0px 17px 2px rgba(119, 119, 119, 0.5);
  box-shadow: 0px 0px 17px 2px rgba(119, 119, 119, 0.5);
}

.bottom {
  position: absolute;
  bottom: 0;
  margin: 0 auto;
}
